.info {
    color: rgb(32, 58, 32);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 500px;
}

h1 {
    color: gray;
    margin-left: 550px;
}

.createdby{
    margin-left: 1000px;
    color: lightslategray;
}

h3{
    margin-left: 500px;
    color: rgb(88, 88, 88);
}

form{
    margin-left: 500px;
}

input {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 1px;
}

button {
    width: 60px;
    color: white;
    background-color: darkgray;
    padding: 4px;
    margin-left: 5px;
    cursor: pointer;
}